<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.future.server.dao.UserNewTypeRelationMapper" >
  <resultMap id="BaseResultMap" type="app.future.commons.bean.UserNewTypeRelation" >
    <result column="user_news_type_id" property="userNewsTypeId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="news_type_id" property="newsTypeId" jdbcType="BIGINT" />
    <result column="rec_status" property="recStatus" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="res1" property="res1" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_news_type_id, user_id, news_type_id, rec_status, remark, res1, create_time, modify_time
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_new_type_relation
    where user_news_type_id= #{userNewsTypeId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_new_type_relation
    where user_news_type_id= #{userNewsTypeId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="app.future.commons.bean.UserNewTypeRelation">
    insert into user_new_type_relation (
	user_news_type_id,user_id,news_type_id,rec_status,remark,res1,create_time,modify_time
	)
    values (
		#{userNewsTypeId,jdbcType=BIGINT},
		#{userId,jdbcType=BIGINT},
		#{newsTypeId,jdbcType=BIGINT},
		#{recStatus,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{res1,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{modifyTime,jdbcType=TIMESTAMP}
	)
  </insert>
  <insert id="insertSelective" parameterType="app.future.commons.bean.UserNewTypeRelation" >
    insert into user_new_type_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="userNewsTypeId != null " >user_news_type_id,</if>
		<if test="userId != null " >user_id,</if>
		<if test="newsTypeId != null " >news_type_id,</if>
		<if test="recStatus != null and recStatus != ''" >rec_status,</if>
		<if test="remark != null and remark != ''" >remark,</if>
		<if test="res1 != null and res1 != ''" >res1,</if>
		<if test="createTime != null " >create_time,</if>
		<if test="modifyTime != null " >modify_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="userNewsTypeId != null ">#{userNewsTypeId,jdbcType=BIGINT},</if>
		<if test="userId != null ">#{userId,jdbcType=BIGINT},</if>
		<if test="newsTypeId != null ">#{newsTypeId,jdbcType=BIGINT},</if>
		<if test="recStatus != null and recStatus != ''">#{recStatus,jdbcType=VARCHAR},</if>
		<if test="remark != null and remark != ''">#{remark,jdbcType=VARCHAR},</if>
		<if test="res1 != null and res1 != ''">#{res1,jdbcType=VARCHAR},</if>
		<if test="createTime != null ">#{createTime,jdbcType=TIMESTAMP},</if>
		<if test="modifyTime != null ">#{modifyTime,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="app.future.commons.bean.UserNewTypeRelation" >
    update user_new_type_relation
    <set >
      <if test="userNewsTypeId != null ">user_news_type_id = #{userNewsTypeId,jdbcType=BIGINT},</if>
      <if test="userId != null ">user_id = #{userId,jdbcType=BIGINT},</if>
      <if test="newsTypeId != null ">news_type_id = #{newsTypeId,jdbcType=BIGINT},</if>
      <if test="recStatus != null and recStatus != ''">rec_status = #{recStatus,jdbcType=VARCHAR},</if>
      <if test="remark != null and remark != ''">remark = #{remark,jdbcType=VARCHAR},</if>
      <if test="res1 != null and res1 != ''">res1 = #{res1,jdbcType=VARCHAR},</if>
      <if test="createTime != null ">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
      <if test="modifyTime != null ">modify_time = #{modifyTime,jdbcType=TIMESTAMP},</if>
    </set>
    where user_news_type_id= #{userNewsTypeId,jdbcType=BIGINT}
  </update>
 
  <update id="updateByPrimaryKey" parameterType="app.future.commons.bean.UserNewTypeRelation" >
    update user_new_type_relation
    <set>
      user_news_type_id = #{userNewsTypeId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      news_type_id = #{newsTypeId,jdbcType=BIGINT},
      rec_status = #{recStatus,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      res1 = #{res1,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </set>
    where user_news_type_id= #{userNewsTypeId,jdbcType=BIGINT}
  </update>
 
  <sql id="findCondition">
		<if test="userNewsTypeId != null  ">and  user_news_type_id = #{userNewsTypeId,jdbcType=BIGINT}</if>
		<if test="userId != null  ">and  user_id = #{userId,jdbcType=BIGINT}</if>
		<if test="newsTypeId != null  ">and  news_type_id = #{newsTypeId,jdbcType=BIGINT}</if>
		<if test="recStatus != null and recStatus != '' ">and  rec_status = #{recStatus,jdbcType=VARCHAR}</if>
		<if test="remark != null and remark != '' ">and  remark = #{remark,jdbcType=VARCHAR}</if>
		<if test="res1 != null and res1 != '' ">and  res1 = #{res1,jdbcType=VARCHAR}</if>
		<if test="createTime != null  ">and  create_time = #{createTime,jdbcType=TIMESTAMP}</if>
		<if test="modifyTime != null  ">and  modify_time = #{modifyTime,jdbcType=TIMESTAMP}</if>
  </sql>
  <select id="find" resultMap="BaseResultMap" parameterType="app.future.commons.bean.UserNewTypeRelation" >
    select 
    <include refid="Base_Column_List" />
    from user_new_type_relation
    <where>
	  <include refid="findCondition"/>
	</where>
	order by create_time desc
	<if test="model!=null">
		limit #{model.startRow},#{model.rows}
	</if>
  </select>
  
  <select id="findTotal" resultType="java.lang.Long" parameterType="app.future.commons.bean.UserNewTypeRelation" >
    select count(1)
    from user_new_type_relation
    <where>
	  <include refid="findCondition"/>
	</where>
  </select>
</mapper>